
body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
}

h1 {
  width: 500px;
  font-size: 55px;
  color: #2D314D;
  font-weight: 300;
}

h2 {
  font-size: 35px;
  color: #2D314D;
  font-weight: 300;
}

h3 {
  color: #2D314D;
  margin: 30px 0;
}

h4 {
  color: #2D314D;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

p {
  color: #9698a6;
  font-size: 18px;
  line-height: 1.5;
}

td {
  width: 200px;
  padding-bottom: 10px;
}

.top-bar {
  margin: 30px 100px;
  /* position: relative; */
}

.logo {
  margin-right: 280px;
}

.bar-item {
  color: #9698a6;
  margin: auto 15px;
  font-family: sans-serif;
}

.bar-item:hover {
  color: #2D314D;
  padding-bottom: 30px;
  border-bottom: 3px solid #31D35C;
}

.invite-btn {
  font-family: arial;
  color: #FAFAFA !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 14px 28px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #63B8EE;
  background: linear-gradient(top,  #31D35C,  #2BB7DA);
  background: -ms-linear-gradient(top,  #31D35C,  #2BB7DA);
  background: -webkit-gradient(linear, left top, right top, from(#31D35C), to(#2BB7DA));
  background: -moz-linear-gradient(top,  #31D35C,  #2BB7DA);
  margin-left: 300px;
}

.invite-btn:hover {
  color: #FAFAFA !important;
  background: #468CCF;
  background: linear-gradient(top,  #37ED67,  #2EC5EB);
  background: -ms-linear-gradient(top,  #37ED67,  #2EC5EB);
  background: -webkit-gradient(linear, left top, right top, from(#37ED67), to(#2EC5EB));
  background: -moz-linear-gradient(top,  #37ED67,  #2EC5EB);
}

.top-container {
  position: relative;
  color: hsl(220, 16%, 96%);
  display: flex;
  background: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 700px -260px;
  overflow: hidden;
}

.top-container-text {
  margin: 80px 100px 190px;
}

.top-p {
  width: 400px;
  line-height: 1.5;
  margin: 30px 0;
}

.invite-btn-block {
  display: inline-block;
  margin-left: 0;
}

.top-container-img {
  position: absolute;
  top: -120px;
  right: -130px;
}

.middle-container {
  background-color: #F3F4F6;
  padding: 60px 100px;
}

.middle-p {
  width: 600px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.operations {
  display: flex;
}

.operation {
  padding-right: 30px;
}

.bottom-container {
  padding: 60px 100px;
}

.articles {
  display: flex;
  margin: 45px auto;
}

.article {
  margin-right: 30px;
}

.article-text {
  width: 300px;
}

.article-author {
  font-size: 13px;
  margin-top: 40px;
}

.article-title {
  font-size: 22px;
  font-weight: 550;
}

.article-title:hover {
  color: #00e6ac;
  cursor: pointer;
}

.article-pic {
  width: 300px;
  height: 200px;
}

.footer {
  background-color: #2D314D;
  padding: 30px 100px;
  display: flex;
  align-items: stretch;
  color: white;
}

.social {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 30px;
}

.info {
  margin-right: 450px;
}

.info-a {
  color: white;
}

.info-a:hover {
  color: #00e6ac;
}

.misc {
  text-align: right;
  margin-top: 5px;
}

.copyright {
  margin-top: 25px;
  font-size: 13px;
}

.attribution {
  background-color: #2D314D;
  color: white;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.attribution-a {
  color: #00cc99;
}

.attribution-a:hover {
  color: #00e6ac;
}
